{{define "base"}}
<!doctype html>
<html lang="en">
  <head>
    <title>HTMX testing site</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body hx-boost="true">
    <main class="container">
      <h1>HTMX testing site</h1>
      <header>
        <nav>
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/second-about">Second about</a>
        </nav>
      </header>
      <section>{{ template "content" . }}</section>
      <footer>
        <p class="notice">This really is just a testing site...</p>
      </footer>
    </main>
  </body>
</html>
{{end}}
